@font-face {
    font-family: Mantinia;
    src: url(./Mantinia\ Regular.otf);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 2fr 1.2fr 0.4fr;
    grid-template-areas: 
    "header header"
    "image h1"
    "image main"
    "content1 content1"
    "footer footer";
    grid-gap: 1rem;
    font-family: Mantinia;
    font-weight: bold;
}

header {
    /* background-color: rgb(196, 203, 131); */
    grid-area: header;
    z-index: 100;
    color: rgb(213, 202, 129);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(0,0,0,.3);
    font-size: 20px;
}

.logo {
    z-index: 100;
    object-fit: cover;
    max-height: 20%;
    width: 4%;
    filter: invert();
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.image {
    grid-area: image;
    object-fit: cover;
    width: 80%;
    max-height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    grid-area: h1;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
}

main {
    grid-area: main;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
}

.content1 {
    grid-area: content1;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
}

.content2 {
    grid-area: content2;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
}

footer {
    grid-area: footer;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

